// Import app variables
@import 'app-variables';

// Import the theme’s main ruleset - both index and platform specific.
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.android';

// Import common styles
@import 'app-common';

.page {
	background-color: $cream-bg;
	// color: rgb(94, 94, 94);
}

.nav {
	background-color: $grey;
	text-align: center;
	color: $white;
	font-size: 23;
	padding: 0;
	.my-fa {
		padding: 20 0;
		&.active {
			background-color: $green;
		}
	}
}

.bg--top {
	text-align: center;
	background-size: cover;
	background-color: $cream-bg;
	background-position: center bottom;
	color: $white;
	padding-bottom: 20;
	margin-bottom: 10;
}

.form {
	width: 100%;
	height: 100%;
	&-active {
		.close {
			color: $black;
			.my-fa {
				color: $black;
			}
		}
		.form__top {
			margin-bottom: -20;
		}
		.form__botom {
			background-size: cover;
			background-position: center bottom;
			background-image: url('~/assets/img/main_bg_clip.png');
		}

		// .new-account {
		// 	color: $black;
		// }
	}
}

.close {
	width: 50;
	height: 50;
	background-color: $white;
	border-radius: 50%;
	margin-bottom: 10;
	font-size: 35;
	color: $black;
}

.error {
	color: $tomato;
	text-align: left;

	&--field {
		font-size: 12;
		margin-bottom: 10;
		padding-left: 20;
	}
}

.bg {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	&--main {
		background-image: url('~/assets/img/main_bg_wallpaper.png');
	}
	&--clip {
		background-size: cover;
		background-position: center bottom;
		background-image: url('~/assets/img/main_bg_clip.png');
	}
	&--cream {
		background-color: $cream-bg;
	}
}

.field {
	color: $black;
	background-color: $white;
	border-radius: 28;
	border: 1px solid $cream-field;
	padding: 10 20;
	margin-bottom: 0;
	text-align: left;
	
	&--green {
		background-color: $green;
		color: $white;
		placeholder-color: $white;;
	}
}

.input {
	border-color: red;
	&.error {
		border-bottom-color: $tomato;
	}
}

// .field {
// 	width: 100%;
// 	background-color: $white;
// 	text-align: left;
// 	color: $black;
// 	border-radius: 28;
// 	padding: 10 20;
// }

.btn {
	width: 100%;
	color: $black;
	background-color: $white;
	border-radius: 28;
	text-transform: uppercase;
	line-height: 1;
	padding: 10 20;
	&.green {
		color: $white;
		background-color: $green;
	}
	&.blue {
		color: $white;
		background-color: $blue;
	}
	&.tomato {
		color: $white;
		background-color: $tomato;
	}
	&.shadow {
		// box-shadow: 0px 27px 70px rgba(0, 0, 0, .3)
		box-shadow: 0 27 tomato;
	}
}


// Custom styles
.playlist {
	&__header {
		margin-bottom: 20;
	}
	&-list {
		margin: 10 0;
		&__btn {
			margin-right: 10;
			margin-left: 0;
			text-transform: uppercase;
			text-align: center;
			width: 160;
			height: 160;
			font-size: 22;
			letter-spacing: 0.2;
			color: $white;
			border-radius: 10;
			background-size: cover;
			background-image: url('~/assets/img/playlists/focus.jpg');
			// background-color: lime;
		}
	}
}


.track {
	margin-bottom: 10;
	align-items: center;
	justify-content: space-between;

	&__button {
		border-radius: 50%;
		width: 80;
		height: 80;
		background-color: $grey;
		background-repeat: no-repeat;
		background-size: cover;
		border-color: $grey;
		border-width: 1;

		&__circle {
			// border-color: $grey;
			border-width: 0;
			border-radius: 50%;
			width: 24;
			height: 24;
			left: 28;
			top: 28;
			background-color: $cream-bg;
			color: $black;
			font-size: 29;
		}
	}

	&__text {
		margin-left: 20;
		flex: 1 1 100%;
	}
	&__name {
		font-size: 20;
	}
	&__author {
		color: $grey;
	}

	
	&.active {
		.track__button {
			border-color: $green;
			&__circle {
				border-color: $green;
				border-width: 1;
				transform: scale(1.6);
				// animation-name: playing;
				// animation-duration: 2s;
				// animation-fill-mode: forwards;
				// animation-iteration-count: infinite;
				// animation-timing-function: ease;
				// transform-origin: center center;
			}
		}
		
		&.paused {
			.track__button {
				border-color: $tomato;
				&__circle {
					border-color: $tomato;
					animation: none;
				}
			}
		}
	}

}

// @keyframes playing {
// 	0% {
// 		transform: scale(1);
// 	}
// 	30% {
// 		transform: scale(1.3);
// 	}
// 	80% {
// 		transform: scale(1.6);
// 	}
// 	100% {
// 		transform: scale(1);
// 	}
// }

.template {
	&__btn {
		margin-right: 10;
		margin-left: 0;
		justify-content: center;
		align-items: center;
		width: 160;
		height: 160;
		font-size: 22;
		letter-spacing: 0.2;
		color: $white;
		border-radius: 10;
		background-size: cover;
		border: 10 solid $green;

		&.active {
			.template__text {
				background-color: rgba(0, 0, 0, 0.7);
			}
		}
	}
	&__text {
		margin: 0;
		padding: 8 15;
		text-transform: uppercase;
		border-radius: 5;
		font-size: 17;
		background-color: rgba(0, 0, 0, 0.4);
	}
}

.like {
	width: 50;
	height: 50;
	font-size: 20;
	color: $grey;
	background-color: $cream-bg;
	border-radius: 50%;
	android-elevation: 0;
	&.active {
		color: $tomato;
	}
	&.add {
		font-size: 30;
		&.active {
			color: $green;
		}
	}
}


.author {
	&__img {
		border-radius: 50%;
		width: 100;
		height: 100;
	}
}