// Import app variables
@import 'app-variables';

// Import the theme’s main ruleset - both index and platform specific.
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.android';

// Import common styles
@import 'app-common';

.form {
	width: 100%;
	height: 100%;
	&-active {
		.close {
			color: $black;
			.my-fa {
				color: $black;
			}
		}
		.form__top {
			margin-bottom: -20;
		}
		.form__botom {
			background-size: cover;
			background-position: center bottom;
			background-image: url('~/assets/img/main_bg_clip.png');
		}

		// .new-account {
		// 	color: $black;
		// }
	}
}

.close {
	width: 50;
	height: 50;
	background-color: $white;
	border-radius: 50%;
	margin-bottom: 10;
	font-size: 35;
	color: $black;
}


.bg {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	&--main {
		background-image: url('~/assets/img/main_bg_wallpaper.png');
	}
	&--clip {
		background-size: cover;
		background-position: center bottom;
		background-image: url('~/assets/img/main_bg_clip.png');
	}
	&--cream {
		background-color: $cream-bg;
	}
}

.field {
	color: $black;
	background-color: $white;
	border-radius: 28;
	border: 1px solid $cream-field;
	padding: 10 20;
	margin-bottom: 10;
	text-align: left;
}

.btn {
	width: 100%;
	color: $black;
	background-color: $white;
	border-radius: 28;
	text-transform: uppercase;
	line-height: 1;
	padding: 10 20;
	&.green {
		color: $white;
		background-color: $green;
	}
	&.blue {
		color: $white;
		background-color: $blue;
	}
	&.tomato {
		color: $white;
		background-color: $tomato;
	}
	&.shadow {
		// box-shadow: 0px 27px 70px rgba(0, 0, 0, .3)
		box-shadow: 0 27 tomato;
	}
}


// Custom styles
.playlist {
	&__header {
		background-size: cover;
		color: $white;
		margin-bottom: 40;
	}
	&-list {
		&__btn {
			margin-right: 10;
			margin-left: 0;
			text-transform: uppercase;
			text-align: center;
			width: 160;
			height: 160;
			font-size: 22;
			letter-spacing: 0.2;
			color: $white;
			// border-radius: 10;
			background-size: cover;
			background-image: url('~/assets/img/playlists/focus.jpg');
			// background-color: lime;
		}
	}
}

.track {
	margin-bottom: 10;
	align-items: center;
	justify-content: space-between;
	&__button {
		border-radius: 50%;
		width: 80;
		height: 80;
		background-image: url('~/assets/img/tracks/cover.jpg');
		background-repeat: no-repeat;
		background-size: cover;

		&__circle {
			border-radius: 50%;
			width: 24;
			height: 24;
			background-color: $white;
		}
	}

	&__text {
		margin-left: 20;
		flex: 1 1 100%;
	}
	&__name {
		font-size: 20;
	}
	&__author {
		color: $grey;
	}
}

.like {
	width: 50;
	height: 50;
	font-size: 20;
	color: $grey;
	background-color: $white;
	border-radius: 50%;
	android-elevation: 0;
	&.active {
		color: $tomato;
	}
}


.author {
	&__img {
		border-radius: 50%;
		width: 100;
		height: 100;
	}
}